nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-underline-offset: none;
}

/* nav li {
    transition: color 0.5s, font-size 0.5s;
} */

nav li:hover {
    color: palevioletred;
    font-size: 22px;
}
